---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout title="Materiales">
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Consulta y descarga materiales
      </h2>

      <h3 class="font-bold text-2xl text-gray-800 pt-2">
        Infografías
      </h3>
      <p class="text-lg leading-relaxed py-2">
        Explora nuestros gráficos informativos sobre las elecciones en México 2024. Estas infografías 
        buscan abonar a la comprensión del panorama electoral, destacando los temas clave que atañen a 
        las personas LGBTIQ+ y proporcionando detalles esenciales para el ejercicio del derecho al voto.
        ¡Infórmate, descárgalas y comparte!
      </p>

      <h3 class="font-bold text-2xl text-gray-800 pt-2">
        Guías y documentos oficiales
      </h3>
      <p class="text-lg leading-relaxed py-2">
        Descarga documentos oficiales relevantes para el proceso electoral 2024, específicamente 
        relacionados con nuestras poblaciones LGBTIQ+. Estos materiales te proporcionarán la información 
        necesaria para entender mejor las políticas y regulaciones que involucran a nuestra comunidad, 
        asegurando que estés bien preparada para participar plenamente en las elecciones. 
      </p>

      <h3 class="font-bold text-2xl text-gray-800 pt-2">
        Investigación
      </h3>
      <p class="text-lg leading-relaxed py-2">
        Consulta nuestros informes de investigación pre y post electoral 2024.
      </p>


    </div>
  </Container>
</Layout>
