---
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import alianzas from "assets/alianzas.png";
---

<Layout title="Quiénes Somos">
  <Container>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">¿Quiénes Somos?</h2>
      <p class="text-lg leading-relaxed py-2">
        <b>"Voto por la Igualdad México"</b> es una campaña impulsada por la organización
        sin fines lucrativos, apartidista y laica, Yaaj Transformando Tu Vida A.C.
        (Yaaj México) y el LGBTQ+ Victory Institute, que tiene por objetivo informar
        a la población, especialmente a personas LGBTIQ+, sobre los temas que atañen
        a los comicios electorales en el país, con relación a los derechos de las
        personas de la diversidad sexual y de género. Nuestro objetivo es promover
        y apoyar los derechos cívicos, políticos y electorales de las personas LGBTIQ+.
      </p>

      <p class="text-lg leading-relaxed py-2">
        <b>
          ¡¡¡DEBEMOS DE PODER VOTAR Y SER VOTADAES EN LIBERTAD, SEGURIDAD Y SIN
          DISCRIMINACIÓN!!!
        </b>
      </p>

      <p class="text-lg leading-relaxed py-2">
        La campaña cuenta con el respaldo y la colaboración de las
        organizaciones que integran el “Consorcio de Participación Política
        LGBTIQ+ de las Américas y el Caribe”, liderado por el LGBTQ+ Victory
        Institute (Estados Unidos), y que integran: Caribe Afirmativo
        (Colombia), Yaaj México (México), Somos CDC (Honduras) y Diversidad
        Dominicana (República Dominicana). Estas organizaciones también lideran
        e impulsan la campaña "Voto por la Igualdad" a nivel regional.
      </p>

      <p class="text-lg leading-relaxed py-2">
        Esta campaña es posible gracias al apoyo de:
      </p>

      <Picture
        src={alianzas}
        alt="Logo de Victory Institute y HBS"
        sizes="(max-width: 800px) 100vw, 400px"
      />
    </div>
  </Container>
</Layout>
