---
import { Picture } from "astro:assets";
import logos_alianzas from "assets/logos_alianzas.png";
---

<style>
  .custom-img {
    max-width: 70vw;

    @media screen and (max-width: 800px) {
      max-width: 100vw;
    }
  }
</style>

<footer class="my-20">
  <div class="flex justify-center border-t-2 border-gray-700 pt-5 mb-10">
    <Picture
      src={logos_alianzas}
      alt="Logos de Aliades"
      widths={[600, 800, 1920]}
      sizes="(max-width: 800px) 100vw, 70wv"
      loading="eager"
      format="avif"
      class="custom-img"
    />
  </div>
  <p class="text-center text-sm text-slate-500">
    Desarrollado por <a href="https://yaajmexico.org" target="_blank"
      >Yaaj México</a
    >.
  </p>
</footer>
